body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #363062;
  text-align: center;
  font-size: 48px;
}

h2 {
  color: #4d4c7d;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 80%;
  list-style: none;
  color: #4d4c7d;
}

hr {
  margin: 40px 0px;
  border: 2px solid #e9d5ca;
}

a:link {
  text-decoration: none;
}

.weatherAppWrapper {
  max-width: 800px;
  margin: 30px auto 0px;
}

.appBorder {
  border: 2px solid #e9d5ca;
  padding: 50px 50px;
  border-radius: 5px;
}

.openSource {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.actual {
  text-align: center;
}

.currentImg {
  height: 64px;
  width: 64px;
  position: relative;
  top: -15px;
  display: block;
  margin: 0 auto;
}

.currentTemp strong {
  font-size: 32px;
  line-height: 1;
}

.btn-primary {
  color: #fff;
  background-color: #4d4c7d;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background-color: #363062;
  cursor: pointer;
}

.weather-temperature .active {
  color: #4d4c7d;
  cursor: default;
}

.weather-forecast {
  text-align: center;
  color: #4d4c7d;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: 800;
}

.weather-forecast-temp {
  font-size: 16px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

#search-form {
  margin-top: 50px;
}

#units {
  position: relative;
  top: -11px;
  padding-left: 5px;
}

#actual-city {
  font-size: 32px;
  color: #4d4c7d;
  font-weight: 800;
  line-height: 1;
}

#actual-temp {
  color: #4d4c7d;
}

#description:first-letter {
  text-transform: capitalize;
}
